@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header{
   font-family: "Jura", serif !important;
   font-optical-sizing: auto;
}

header *{
   font-family: "Jura", serif !important;

}


.btn i.icon-lupa{
   margin-left: 0;
}

.btn-user{
   height: 40px;
   line-height: 1;
   margin-right: 12px;
   font-size: 12px;
}